h1,
h2,
h3 {
  color: black;
}

.card-container {
  background-color: #070f3d;
  border-radius: 7px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 30px;
  border-width: inherit;
}

.card-container .round {
  border: 1px solid #d9d2e9;
  border-radius: 50%;
  padding: 7px;
  width: 150px;
}

.card-container h3 {
  margin: 20px 0;
  margin: 0 0 20px 0;
  text-transform: none;
  color: #f0f1f3;

  font-weight: 500;
  letter-spacing: 1px;
}

.card-container1 {
  background-color: #2d0339;
  border-radius: 7px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 30px;
  border-width: inherit;
}

.card-container1 .round {
  border: 1px solid #d9d2e9;
  border-radius: 50%;
  padding: 7px;
  width: 150px;
}

.card-container1 h3 {
  margin: 20px 0;
  margin: 0 0 20px 0;
  text-transform: none;
  color: #f0f1f3;

  font-weight: 500;
  letter-spacing: 1px;
}

body {
  background: #fff;
  color: #413e66;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
